/* Pagination */
nav.pagination-holder {
    display: inline-block;
    margin: auto;
}

.page-item {
    .page-link {
        color: $main-brand-color;
    }

    &:hover {
        .page-link {
            color: $main-brand-color;
        }
    }

    &.active {
        .page-link {
            border-color: #dee2e6;
            background-color: $main-bg;
            color: $main-brand-color;
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
