/* Globals */
html {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
}

* {
  box-sizing: border-box !important;
}

body,
html {
  border: none;
}

a {
  color: red;
}
a:active, a:link, a:visited {
  color: red;
}
a:hover {
  color: red;
}
a.secondary {
  color: #212529;
}
a.secondary:active, a.secondary:link, a.secondary:visited {
  color: #212529;
}
a.secondary:hover {
  color: #212529;
}

::-webkit-input-placeholder {
  color: #a5a4a4;
}

:-moz-placeholder {
  color: #a5a4a4;
}

::-moz-placeholder {
  color: #a5a4a4;
}

:-ms-input-placeholder {
  color: #a5a4a4;
}

/* Utilities */
.clear {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.float-left,
.float-right {
  display: inline-flex;
}

.float-left {
  float: left;
  clear: left;
}

.float-right {
  float: right;
  clear: right;
}

.fa,
.fas {
  padding-right: 10px;
}

.flip-hor {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.fa.flip-hor,
.fas.flip-hor {
  padding-right: 0;
  padding-left: 10px;
}

.flip-vert {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

.shadow-right {
  -webkit-box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 0 15px 0 rgba(0, 0, 0, 0.25);
}

.shadow-bottom {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
}

.border-all {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.border-top {
  padding-top: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.border-right {
  padding-right: 1rem;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.border-bottom {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.border-left {
  padding-left: 1rem;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.rounded {
  border-radius: 0.25rem;
  overflow: hidden;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

*[class^=over-],
.super {
  position: relative;
}

.over-1 {
  z-index: 9;
}

.over-2 {
  z-index: 99;
}

.over-3 {
  z-index: 999;
}

.over-4 {
  z-index: 99999;
}

.over-5 {
  z-index: 9999999;
}

.super {
  z-index: 999999999;
}

.v-center-children {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brand-color {
  color: red;
}

.success {
  color: var(--success, #28a745);
}

@media all and (max-width: 991px) {
  .float-left,
.float-right {
    display: unset;
    float: unset !important;
    clear: unset !important;
  }
  .float-left.flex,
.float-right.flex {
    display: flex;
  }
  .float-left.block,
.float-right.block {
    display: block;
  }
  .float-left.inline,
.float-right.inline {
    display: inline;
  }
  .float-left.inline-block,
.float-right.inline-block {
    display: inline-block;
  }

  .m-float-left,
.m-float-right {
    display: inline-flex;
  }

  .m-float-left {
    float: left;
    clear: left;
  }

  .m-float-right {
    float: right;
    clear: right;
  }
}
/* Tiles */
.tile {
  margin: 0.5rem auto;
  padding: 0;
}
.tile .tile-link {
  cursor: pointer;
}
.tile .tile-hero img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
}
.tile .tile-info {
  padding: 15px;
}
.tile .tile-info .tile-title {
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}
.tile .tile-info .tile-details {
  font-size: 11px;
}
.tile .tile-info .tile-details .single-detail:nth-of-type(odd) {
  padding-right: 5px;
  text-align: left;
}
.tile .tile-info .tile-details .single-detail:nth-of-type(even) {
  padding-left: 5px;
  text-align: right;
}

/* tile hero link */
.tile-hero-link,
.tile-hero-link .tile-link,
.tile-hero-link .tile-link:hover {
  color: #212529;
  text-decoration-color: #212529;
  text-decoration: none;
}

.tile-hero-link .tile-title {
  color: red;
}
.tile-hero-link .tile-title:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

@media all and (min-width: 576px) and (max-width: 991px) {
  .tile.col-md-6, .tile.col-sm-6 {
    max-width: 48.5%;
  }
}
@media all and (min-width: 992px) {
  .tile.col-lg-4 {
    max-width: 33%;
  }
}
@media all and (min-width: 1200px) {
  .tile.col-xl-3 {
    max-width: 24%;
  }
}
/* Pagination */
nav.pagination-holder {
  display: inline-block;
  margin: auto;
}

.page-item .page-link {
  color: red;
}
.page-item:hover .page-link {
  color: red;
}
.page-item.active .page-link {
  border-color: #dee2e6;
  background-color: #fff;
  color: red;
  font-weight: 600;
  text-decoration: underline;
}

/* Frame */
header,
header.super {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  font-weight: 700;
  font-size: 2em;
  line-height: 50px;
}

a.home-button:hover {
  text-decoration: none;
}

.menu-toggle {
  position: absolute;
  top: 10px;
}

.app {
  padding-top: 50px;
}

nav.navbar {
  display: block;
  padding: 0;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
}

nav.navbar ul {
  padding: 0;
}

nav.navbar li {
  display: block;
  width: 100%;
  cursor: pointer;
  list-style-type: none;
}
nav.navbar li:not(.border-bottom):hover {
  -webkit-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.25);
}
nav.navbar li.border-bottom:hover {
  border-bottom-width: 2px !important;
}
nav.navbar li .nav-link {
  padding: 5px 0;
  font-weight: 400;
  color: #212529;
}
nav.navbar li .panel-group .nav-link.border-bottom:last-of-type {
  border: none !important;
}

.react-search-field {
  position: absolute;
  top: 0;
  right: 0;
  height: 100% !important;
  border: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}
.react-search-field .react-search-field-input {
  display: none;
  width: calc(100% - 50px) !important;
  height: 100% !important;
  border-right: 1px solid rgba(0, 0, 0, 0.15) !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529 !important;
  text-transform: capitalize;
}
.react-search-field .react-search-field-button {
  width: 50px !important;
  height: 100% !important;
  border: none !important;
}
.react-search-field .react-search-field-button svg {
  fill: #a5a4a4 !important;
}
.react-search-field.active {
  width: 100% !important;
}
.react-search-field.active .react-search-field-input {
  display: block;
}

.feed-wrapper {
  margin: auto;
}

@media all and (max-width: 991px) {
  .mobile-nav nav.navbar {
    height: 100%;
  }
  .mobile-nav nav.navbar .home-button,
.mobile-nav nav.navbar .home-button #logo {
    text-align: center;
    color: #212529;
  }
  .mobile-nav nav.navbar .home-button:hover,
.mobile-nav nav.navbar .home-button #logo:hover {
    color: #212529;
    text-decoration: none;
  }
  .mobile-nav nav.navbar .navbar-toggler {
    position: absolute;
    top: 18px;
    left: 0;
    width: 22px;
    height: 18px;
    padding: 0;
    border-width: 2px !important;
    border-radius: 0;
    font-size: 25px;
    color: #a5a4a4;
  }
  .mobile-nav nav.navbar .navbar-toggler:focus {
    outline: none;
  }
  .mobile-nav nav.navbar .navbar-toggler:after {
    content: "";
    position: relative;
    left: -1px;
    display: block;
    width: calc(100% + 2px);
    height: 2px;
    background: rgba(0, 0, 0, 0.15);
  }
  .mobile-nav nav.navbar .navbar-collapse {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
  }
  .mobile-nav nav.navbar .navbar-collapse li {
    padding: 10px;
  }
  .mobile-nav nav.navbar .navbar-collapse li .nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #212529;
  }
  .mobile-nav nav.navbar .navbar-collapse li .panel-group .nav-item {
    padding: 0 10px;
    font-size: 16px;
    font-weight: 400;
  }
}
@media all and (min-width: 576px) and (max-width: 991px) {
  .feed-wrapper.float-right {
    display: flex;
  }
}
@media all and (min-width: 992px) {
  header div * {
    display: inline-block;
  }
  header div .dynamic-partner-logo {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding-right: 15px;
    float: right;
  }
  header div #partner-logo {
    height: 90%;
  }
  header .react-search-field {
    right: 20px;
    width: 27.5% !important;
  }
  header .react-search-field.active {
    width: 27.5% !important;
  }
  header .react-search-field .react-search-field-input {
    display: block;
    border: none !important;
  }

  .siderail-nav {
    position: fixed;
    top: 50px;
    min-height: calc(100% - 50px);
    padding: 0;
    float: left;
  }

  nav.navbar {
    width: 100%;
    height: 100%;
  }
  nav.navbar li {
    padding: 10px 15px;
  }
  nav.navbar .react-search-field {
    position: static;
    display: block;
    width: 100%;
    padding: 0 !important;
  }
  nav.navbar .react-search-field .react-search-field-button,
nav.navbar .react-search-field .react-search-field-input {
    display: inline-block;
    height: 30px !important;
    padding: 0 !important;
    border: none !important;
  }
  nav.navbar .react-search-field .react-search-field-input {
    width: calc(100% - 25px) !important;
  }
  nav.navbar .react-search-field .react-search-field-button {
    width: 25px !important;
  }
  nav.navbar .react-search-field .react-search-field-button svg {
    width: 15px;
  }
}
@media all and (min-width: 1200px) {
  header .react-search-field.active {
    right: 25px;
    width: 20% !important;
  }

  .pagination {
    padding: 0 6.5px;
  }
}
/* SnapBuilder Cards */
.card {
  display: inline-flex;
  align-self: flex-start;
  justify-self: flex-start;
  width: 24%;
  margin: 10px 0.66%;
}
.card:nth-of-type(4n) {
  margin-right: 0;
}
.card:nth-of-type(4n + 1) {
  margin-left: 0;
}

.card-body {
  padding: 1rem 0.75rem 0;
}
.card-body div:not(.collapse) {
  margin-bottom: 10px;
}

.collapse .card-title {
  margin-bottom: 0;
}

.card-footer {
  padding: 0.75rem 0;
  border-top: 0;
  background: transparent;
}

.list-group-flush .list-group-item {
  padding: 12px 0;
  border-style: dashed;
  background: transparent;
}
.list-group-flush .list-group-item:first-of-type {
  border-top: 0;
}

.list-group-flush .list-group-item:last-of-type,
.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 0;
}

.info-row {
  margin-bottom: 0.75rem;
}
.info-row .card-title {
  margin-bottom: 0.25rem;
}

/* 3 Dots Loader */
.spinner {
  margin: 5px auto;
  width: 100%;
  text-align: center;
}
.spinner > div {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%, 100%, 80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* Notification Badges */
.alert-card {
  display: block;
  position: fixed;
  bottom: 0;
  right: -100%;
  opacity: 0;
  width: auto;
  max-width: 300px;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  transition: 1s all;
}

.alert-card.shown {
  right: 0;
  opacity: 1;
}

.alert-card .card-body {
  padding: 1.25rem;
}

/* Modals */
.modal,
.modal-bg {
  display: block;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: calc(((100% - 650px) / 2) + 25px);
  left: calc(((100% - 800px) / 2) + 100px);
  width: 800px;
  height: 650px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 8px;
}
.modal.loader {
  top: calc(((100% - 440px) / 2) + 25px);
  left: calc(((100% - 400px) / 2) + 100px);
  width: 400px;
  height: 440px;
}
.modal .close-modal {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 24px;
  cursor: pointer;
}
.modal .container {
  position: relative;
  width: 800px;
  height: 650px;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal .container .row {
  margin-top: 20px;
}
.modal .container .row:not(:first-of-type) {
  margin-bottom: 20px;
}
.modal .snap-asset {
  max-width: 300px;
  margin-right: 100px;
}
.modal .link-other-accounts,
.modal .linked-accounts {
  max-width: 50%;
}
.modal .list-group {
  list-style-type: none;
}
.modal .link-other-accounts .list-group-item {
  cursor: pointer;
}
.modal .list-group-item .account-name {
  display: inline-block;
  width: calc(100% - 100px);
}
.modal .list-group-item .badge-primary {
  display: none;
  position: absolute;
  top: 12px;
  right: 20px;
}
.modal .list-group-item .badge-primary.loading {
  display: block;
}

/*# sourceMappingURL=style.css.map */
